/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-weight: 500;
}

/* UTILITIES */
.container {
    width: 1500px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.w-50 {
    width: 50%;
}

/* Buttons */
.btn {
    display: inline-block;
    min-width: 100px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
}

.btn.btn-green {
    background-color: #7CBB0F;
    border: 1px solid transparent;
}

.btn.btn-big {
    padding: 25px;
}

/* MAIN HEADER */
.main-header {
    background: #0e325a;
    text-transform: uppercase;
    line-height: 100px;
    font-size: 14px;
}

.main-header .logo {
    width: 15%;
}

.main-header .logo img {
    vertical-align: middle;
}

.main-header .col-center {
    width: 45%;
}

.main-header li {
    display: inline-block;
    list-style: none;
}

.main-header a {
    margin-right: 30px;
    color: white;
    text-decoration: none;
}

.main-header a:hover {
    color: dodgerblue;
}

.main-header .col-right {
    width: 40%;
    text-align: right;
}

/* JUMBOTRON */
.jumbotron {
    height: 600px;
    background: #0e325a;
    background-image: url(../img/background-header.png);
    background-size: 1200px;
    background-repeat: no-repeat;
    background-position: 110% 110%;
    color: white;
}

.jumbotron .container {
    position: relative;
    height: 100%;
}

.jumbotron .jumbotron-content {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.jumbotron h1 {
    font-size: 60px;
    margin-bottom: 25px;
}